# Ignore everything
**

# ... except for dependencies and source
!Pipfile
!Pipfile.lock
!tox.ini
!rbac/
!docs/source/specs/
!scripts/
!deploy/
!tests/
!Makefile
!mypy.ini
!.coveragerc

# keep the test files out of the final image
#**/*test*
**/__pycache__
**/*.log

# remove any static files
rbac/static/**
!rbac/static/README
