language: python

python:
  - "3.6"

cache: pip

services:
  - postgresql
  - redis-server

addons:
  postgresql: '9.6'

env:
  DATABASE_NAME=rbac_test
  DATABASE_HOST=localhost
  DATABASE_PORT=5432
  DATABASE_USER=postgres
  DATABASE_PASSWORD=''

install:
  - pip install tox codecov

before_script:
  - psql -c "create database ${DATABASE_NAME};" -U postgres

script:
  - tox

after_success:
  - codecov
