[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-environ = ">=0.4.0"
djangorestframework = ">=3.8.0"
gunicorn = ">=19.7.0"
whitenoise = ">=3.3.0"
Django = "==2.2.24"
django-filter = ">=1.1.0"
requests = ">=2.20.0"
django-tenant-schemas = "==1.9.0"
django-cors-headers = "==3.1.0"
djangorestframework-csv = "==2.1.0"
pytz = "==2019.2"
django-prometheus = "==2.1.0"
prometheus-client = "==0.7.1"
urllib3 = "==1.26.6"
Jinja2 = "==2.11.3"
watchtower = "==1.0.6"
boto3 = "==1.18.49"
celery = "==4.3.0"
redis = "==3.3.8"
sqlparse = "==0.4.2"
django-extensions = "==2.2.9"
python-dateutil = "*"
ecs-logging = "*"
app-common-python = "~=0.1.2"
sentry-sdk = "==0.20.3"
tox = "==3.23.0"
psycopg2 = "==2.8.6"
psycopg2-binary = "==2.8.6"
channels = "*"
channels-redis = "*"
uvicorn = {extras = ["standard"], version = "*"}
websockets = "*"
kafka-python = "*"

[dev-packages]
astroid = "==2.2.5"
sphinx-rtd-theme = ">=0.3.0"
sphinx = "~=4.3.0"
tox = ">=3.0.0"
coverage = ">=4.5.0"
codecov = ">=2.0.0"
faker = ">=0.8.14"
pre-commit = "*"
black = "==19.*"
flake8 = "*"
flake8-docstrings = "*"
flake8-import-order = "*"
flake8-quotes = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
