[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-environ = "==0.12.0"
djangorestframework = "==3.15.2"
gunicorn = "==22.0.0"
whitenoise = "==6.4.0"
django = "==4.2.18"
django-filter = "==22.1"
requests = "==2.32.3"
django-tenants = "==3.7.0"
django-cors-headers = "==4.6.0"
djangorestframework-csv = "==2.1.1"
grpcio = "==1.68.1"
grpcio-status = "==1.68.1"
pytz = "==2022.2.1"
tzdata = "==2024.2"
django-prometheus = "==2.3.1"
prometheus-client = "==0.15.0"
protoc-gen-validate = "==1.0.4"
urllib3 = "==1.26.20"
watchtower = "==3.0.0"
boto3 = "==1.36.26"
celery = "==5.4.0"
redis = "==5.0.0"
relations-grpc-clients-python-kessel-project = "==0.3.2"
sqlparse = "==0.5.3"
django-extensions = "==3.2.3"
python-dateutil = "==2.8.2"
ecs-logging = "==2.2.0"
app-common-python = "==0.2.7"
sentry-sdk = "==2.8.0"
psycopg2 = "==2.9.10"
kafka-python = "==2.0.5"
psycopg2-binary = "==2.9.10"
joserfc = "==1.0.2"
jinja2 = "==3.1.5"
stompest = "==2.3.0"
xmltodict = "==0.13.0"
uuid-utils = "==0.9.0"

[dev-packages]
sphinx-rtd-theme = "==1.2.0"
sphinx = "==4.3.2"
tox = "==3.23.0"
coverage = "==7.6.10"
faker = "==18.4.0"
pre-commit = "==3.2.2"
black = "==25.1.0"
flake8 = "==7.1.2"
flake8-docstrings = "==1.7.0"
flake8-import-order = "==0.18.2"
flake8-quotes = "==3.4.0"
mypy = "==1.14.1"
types-pyyaml = "==6.0.12.20241230"
cryptography = "==44.0.1"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
