[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-environ = "==0.12.0"
djangorestframework = "==3.16.1"
gunicorn = "==25.0.1"
whitenoise = "==6.11.0"
django = "==5.2.11"
django-filter = "==25.2"
requests = "==2.32.5"
django-tenants = "==3.10.0"
django-cors-headers = "==4.9.0"
djangorestframework-csv = "==3.0.2"
grpcio = "==1.76.0"
pytz = "==2025.2"
django-prometheus = "==2.4.1"
urllib3 = "==2.6.3"
watchtower = "==3.4.0"
boto3 = "==1.42.0"
celery = "==5.6.2"
sqlparse = "==0.5.5"
django-extensions = "==4.1"
ecs-logging = "==2.3.0"
app-common-python = "==0.2.9"
sentry-sdk = "==2.52.0"
psycopg2 = "==2.9.11"
joserfc = "==1.6.1"
jinja2 = "==3.1.6"
stompest = "==2.3.0"
xmltodict = "==1.0.2"
uuid-utils = "==0.14.0"
kafka-python = "==2.1.5"
relations-grpc-clients-python-kessel-project = "==0.3.11"
grpcio-status = "==1.76.0"
prometheus-client = "==0.24.1"
protoc-gen-validate = "==1.2.1"
python-dateutil = "==2.9.0.post0"
redis = "==7.1.0"
jsonschema = "*"
pyasn1 = ">=0.6.2"
unleashclient = "*"
django-pgtransaction = "*"
kessel-sdk = {extras = ["auth"], version = "*"}

[dev-packages]
sphinx-rtd-theme = "==3.1.0"
sphinx = "==9.1.0"
tox = "==4.34.1"
coverage = "==7.13.3"
faker = "==40.1.2"
black = "==26.1.0"
flake8-docstrings = "==1.7.0"
flake8-import-order = "==0.19.2"
flake8-quotes = "==3.4.0"
types-pyyaml = "==6.0.12.20250915"
cryptography = "==46.0.4"
flake8 = "==7.3.0"
pre-commit = "==4.5.1"
mypy = "==1.19.1"
psycopg2-binary = "==2.9.11"
tblib = "*"

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = true
