NAME=rbac
NAMESPACE=myproject
MEMORY_REQUEST=512Mi
MEMORY_LIMIT=1Gi
PIP_INDEX_URL=
PIPENV_PYPI_MIRROR=
SOURCE_REPOSITORY_URL=https://github.com/RedHatInsights/insights-rbac.git
SOURCE_REPOSITORY_REF=
CONTEXT_DIR=
