NAME=rbac
NAMESPACE=myproject
BUILD_MEMORY_LIMIT=1Gi
CELERY_WORKER_REPLICAS=1
CELERY_WORKER_CPU_REQUEST=500m
CELERY_WORKER_CPU_LIMIT=1
CELERY_WORKER_MEMORY_REQUEST=512Mi
CELERY_WORKER_MEMORY_LIMIT=1Gi
PIP_INDEX_URL=
PIPENV_PYPI_MIRROR=
SOURCE_REPOSITORY_URL=https://github.com/RedHatInsights/insights-rbac.git
SOURCE_REPOSITORY_REF=
CONTEXT_DIR=
