# Bonfire deployment configuration

# Defines where to fetch the file that defines application configs
appsFile:
  host: gitlab
  repo: insights-platform/cicd-common
  path: bonfire_configs/ephemeral_apps.yaml

# (optional) define any apps locally. An app defined here with <name> will override config for app
# <name> in above fetched config.
apps:
- name: rbac
  components:
  - name: rbac
    host: local
    repo: %REPO%
    path: /deploy/rbac-clowdapp.yml
    parameters:
      IMAGE_TAG: %IMAGE_TAG%
      IMAGE: %IMAGE%
      CW_NULL_WORKAROUND: false
      MIN_SCHEDULER_REPLICAS: 1
      CELERY_WORKER_MEMORY_LIMIT: '2Gi'
      CELERY_WORKER_MEMORY_REQUEST: '1Gi'
      MIN_WORKER_REPLICAS: 1
      PERMISSION_SEEDING_ENABLED: false
      ROLE_SEEDING_ENABLED: false
      GROUP_SEEDING_ENABLED: false
      TENANT_TRANSLATOR_HOST: apicast.3scale-dev.svc.cluster.local
      SERVICE_MIGRATE_AND_SEED_ON_INIT: false
      WORKER_MIGRATE_AND_SEED_ON_INIT: true
      GUNICORN_THREAD_LIMIT: 30