# Bonfire deployment configuration

# (optional) define any apps locally. An app defined here with <name> will override config for app
# <name> in above fetched config.
apps:
- name: rbac
  components:
  - name: rbac
    host: local
    repo: %REPO%
    path: /deploy/rbac-clowdapp.yml
    parameters:
      IMAGE_TAG: %IMAGE_TAG%
      IMAGE: %IMAGE%
      REPLICATION_TO_RELATION_ENABLED: "True"
      V2_BOOTSTRAP_TENANT: "True"
      DJANGO_DEBUG: "True"
      RBAC_LOG_LEVEL: "DEBUG"
      BYPASS_BOP_VERIFICATION: "True"
      RBAC_KAFKA_CONSUMER_REPLICAS: 1
      RBAC_KAFKA_CONSUMER_TOPIC: "outbox.event.relations-replication-event"
      MIN_WORKER_REPLICAS: "1"
      CELERY_WORKER_MEMORY_LIMIT: "2Gi"
      CELERY_WORKER_MEMORY_REQUEST: "1Gi"
  - name: debezium-connector
    host: local
    repo: %REPO%
    path: /deploy/debezium-connector.yml
    parameters:
      IMAGE_TAG: %IMAGE_TAG%
      IMAGE: %IMAGE%
      CONNECTOR_NAME: rbac-debezium
      KAFKA_CONNECT_INSTANCE: platform-kafka-connect
      DB_SERVERNAME: rbac-db
      DB_NAME: ${secrets:rbac-db:db.name}
      DB_HOSTNAME: ${secrets:rbac-db:db.host}
      DB_PORT: ${secrets:rbac-db:db.port}
      DB_USER: ${secrets:rbac-db:db.user}
      DB_PASSWORD: ${secrets:rbac-db:db.password}
      RBAC_LOG_LEVEL: "DEBUG"
  - name: platform-kafka-connect
    host: local
    repo: %REPO%
    path: /scripts/ephemeral/kafka_connect.yaml
    parameters:
      KAFKA_CONNECT_VERSION: 3.8.0
      KAFKA_CONNECT_IMAGE: quay.io/redhat-services-prod/hcm-eng-prod-tenant/kafka-connect
      IMAGE_TAG: latest
